POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/db

REDIS_URL=redis://redis:6379/0

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

NOTIFICATIONS_DB_USER=user_notif
NOTIFICATIONS_DB_PASSWORD=notif_pass
NOTIFICATIONS_DB_NAME=notifications_db

AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_NAME=auth_db
AUTH_DATABASE_URL=postgresql+asyncpg://auth_user:auth_pass@postgres-auth:5432/auth_db
AUTH_SERVICE_URL=http://auth-service:8000

LOG_LEVEL=DEBUG
